body{
	
	display: block; 
	margin: 0px; 
	padding: 0px
	
}
header{
	
	background-color: #1B263B;
	height:80px;
	margin: 0px;
	padding: 0px;
	display:flex;
}
:root{
	
	--colormixture: color-mix(in oklab, #D9D9D9, #030FAA 20%);
	
}
.firstsection{
	
	background-color: var(--colormixture);
	height:100vh;
	flex-direction:row;
    display:flex;	
}
.div-left-side{
	width: 43vw;
	height: 1000px;
	position: relative;
	
}
.div-right-side{
	width: 57vw;
	height: 1000px;
	position: relative;
	
}
.div-right-side-child{
	
	width: 25vw;
	position: absolute;
	left: 160px;
	bottom: 825px;
	
}
.div-right-side-child h1{
	
	font-size:40px;
	font-family: math;
}
.div-right-side-child-two{
	position: absolute;
	bottom: 500px;
	width: 380px;
	left: 50px;
}
.div-right-side-child-two h3{
	
	font-family: math; 
}
.div-left-side-child{
	
	width: 21vw;
	position: absolute;
	left: 266px;
    bottom: 701px;
	
}
.div-left-side-child img{
    width:17vw;
    height: 248px;	
}
.headerchild{
	
	height: 80px;
	width: 450px;
	float: left;
	display: flex;
	background-color: var(--colormixture);
}
.headerchild a {
	
	position: relative; 
	top: 10px; 
	left:10px;
}
.headerchild a img{
	
	width: 30px; 
	height: 30px; 
}
.headerchild2{
	
	height: 80px;
	width: 1850px;
	float: left;
	display: flex;
}
.Scndheader{
    background-color: #415A77;
	height:40px;
	margin: 0px;
	padding: 0px;
	display:flex;
	
}
.Scndheaderchild{
	
	height: 40px;
	width: 450px;
	float: left;
	display: flex;
	background-color: var(--colormixture);


}
.Scndheaderchild_{
	
	height: 40px;
	width: 1850px;
	float: left;
	display: flex;

}
.second-section{
	
	height: 100vh;
	display: flow-root; 
	background-color: var(--colormixture);
}
.SkillsTitle{
	width: 100vw;
	text-align: center;
	font-family: math;
}
.divSkills{

	display: flex;
	position: relative;
	justify-content: center;
	bottom: -100px;
}
.Skill1{

	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.Skill1 img{
	height: 100%;
	width: 100%;
}
.Skill2{
	width: 150px;
	height: 150px;
	margin-left: 20px;

}
.Skill2 img{
	width: 100%;
	height: 100%;
}
.Skill3{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.Skill3 img{
	width: 100%;
	height: 100%;
}
.Skill4{
	width: 150px;
	height: 150px;
	margin-left: 20px;

}
.Skill4 img{
	width: 100%;
	height: 100%;
}
.devSkills2{
	display: flex;
	position: relative;
	justify-content: center;
	bottom: -150px;
}
.Skill5{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.Skill5 img{
	width: 100%;
	height: 100%;
	
}
.Skill6{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.Skill6 img{
	width: 100%;
	height: 100%;
	
}
.Skill7{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.Skill7 img{
	width: 100%;
	height: 100%;
}
.Skill8{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.Skill8 img{
	width: 100%;
	height: 100%;
}